.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

@font-face {
	font-family: "Aleo"
	src:url(/fonts/Aleo-Regular.otf);
}

#main-nav {
	background:rgb(255,255,255);
	border-color: #b4afaf;
}

#logo-font {
	color: #59d0e1;
	font-family: "Aleo", Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-size: 20px;
	text-shadow: 0px 0px;
}

#nav-font {
	color: #59d0e1;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	/*font-family: Verdana, Geneva, sans-serif; */
	text-shadow: 0px 0px;
}

#nav-collapse-btn {
	   background-color: #b4afaf;
}

#bar {
	background-color: #b4afaf;
}

#collapse_btn	{
    border-color: #b4afaf;
		&:hover,
		&:focus {
			background-color: #b4afaf;
		}
  }

#grey-font {
	color: #b4afaf;
}

#title-font {
	font-family: "Aleo";
}

#submit-button {
	background-color:#59d0e1;
	background-image: linear-gradient(to bottom, #59d0e1 0%, #53bccc 100%);
}
#submit-button:hover, #submit-button:focus {
	background-color:#59d0e1;
}

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}
