<section data-ng-controller="ArticlesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>Edit Journal Entry</h1>
	</div>
	<div class="col-md-12">
		<form name="articleForm" class="form-horizontal" data-ng-submit="update(articleForm.$valid)" novalidate>
			<fieldset>

				<map zoom ='5'>

  				<marker position="[0,0]" visible="true"></marker>
  				<!-- a initial position must be set because it will prompt the users current geolocation and set it to that -->
				</map>

				<!-- Text field required for Title -->

				<div class="form-group" ng-class="{ 'has-error' : submitted && articleForm.title.$invalid}">
					<label class="control-label" for="title">Title of Blog</label>
					<div class="controls">
						<input name="title" type="text" data-ng-model="article.title" id="title" class="form-control" placeholder="Title" required>
					</div>
					<div ng-show="submitted && articleForm.title.$invalid" class="help-block">
						<p ng-show="articleForm.title.$error.required" class="text-danger">Title is required</p>
					</div>
				</div>

				<!-- Text field required for content -->
				<div class="form-group" ng-class="{ 'has-error' : submitted && articleForm.content.$invalid}">
					<label class="control-label" for="content">Write out your content here</label>
					<div class="controls">
						<textarea name="content" data-ng-model="article.content" id="content" class="form-control" cols="10" rows="10" placeholder="Content" required></textarea>

					</div>

					<div ng-show="submitted && articleForm.content.$invalid" class="help-block">
						<p ng-show="articleForm.content.$error.required" class="text-danger">Content is required</p>
					</div>
				</div>
				<!-- Text field required for lat -->
				<div class="form-group" ng-class="{ 'has-error' : submitted && articleForm.content.$invalid}">
					<label class="control-label" for="lat">Latitude</label>
					<div class="controls">
						<textarea name="content" data-ng-model="article.lat" id="content" class="form-control" cols="10" rows="1" placeholder="Latitude" required></textarea>
					</div>

					<div ng-show="submitted && articleForm.content.$invalid" class="help-block">
						<p ng-show="articleForm.content.$error.required" class="text-danger">Latitude is required</p>
					</div>
				</div>

				<!-- Text field required for lon -->

				<div class="form-group" ng-class="{ 'has-error' : submitted && articleForm.content.$invalid}">
					<label class="control-label" for="lon">Longitude</label>
					<div class="controls">
						<textarea name="content" data-ng-model="article.lon" id="content" class="form-control" cols="10" rows="1" placeholder="Longitude" required></textarea>

					</div>

					<div ng-show="submitted && articleForm.content.$invalid" class="help-block">
						<p ng-show="articleForm.content.$error.required" class="text-danger">Longitude is required</p>
					</div>
				</div>

				<!-- Input City (manually) -->
					<div class="form-group" ng-class="{ 'has-error' : submitted && articleForm.city.$invalid}">
					<label class="control-label" for="city">City Travelled?</label>
					<div class="controls">
						<textarea name="content" data-ng-model="article.city" id="content" class="form-control" cols="10" rows="1" placeholder="City" required></textarea>
					</div>

					<div ng-show="submitted && articleForm.city.$invalid" class="help-block">
						<p ng-show="articleForm.city.$error.required" class="text-danger">City is required</p>
					</div>
				</div>

				<!-- Radio button for category -->
				<div class="form-group" ng-class="{ 'has-error' : submitted && articleForm.category.$invalid}">
					<label class="control-label" for="category">Category</label>
					<br>
				 <div class="radio">
													 <label>
															 <input type="radio" name="optionsRadios" id="radiofood" value="Food Conquistadors" ng-model="article.category">
															 Food Conquistadors
													 </label>
											 </div>
											 <div class="radio" required>
													 <label>
															 <input type="radio" name="optionsRadios" id="radionature" value="Nature Lover" ng-model="article.category">
															 Nature Lover
													 </label>
											 </div>
											 <div class="radio">
													 <label>
															 <input type="radio" name="optionsRadios" id="radionight" value="Nightlife" ng-model="article.category">
															 Nightlife
													 </label>
													 </div>
													 <div class="radio">
															<label>
																	<input type="radio" name="optionsRadios" id="radiostudent" value="College Student" ng-model="article.category">
																	College Student
															</label>
											 </div>
											 <div class="radio">
													 <label>
															 <input type="radio" name="optionsRadios" id="radioart" value="Modern Art Curator" ng-model="article.category">
															 Modern Art Curator
													 </label>
										</div>

										<div ng-show="submitted && articleForm.category.$invalid" class="help-block">
											<p ng-show="articleForm.category.$error.required" class="text-danger">Category is required</p>
										</div>
									</div>
				<!-- Submit Button -->


				<div class="form-group">
					<input type="submit" value="Update" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>
