<section data-ng-controller="ArticlesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="article.title"></h1>
	</div>
<map zoom ='9'>

  <marker position="[0,0]" visible="true"></marker>
  <!-- a initial position must be set because it will prompt the users current geolocation and set it to that -->
</map>
	<div class="pull-right" data-ng-show="authentication.user._id == article.user._id">

<!-- these provide the edit and button icons on view -->
		<a class="btn btn-primary" href="/#!/articles/{{article._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>

<!-- mini information about date published and by whom -->
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="article.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="article.user.displayName"></span>
		</em>
	</small>

<!-- publish information recorded -->
	<br>
	<br>
	Location of Travels:
	<p class="lead" data-ng-bind="article.city"></p>
	Category of Journal Entry:
	<p class="lead" data-ng-bind="article.category"></p>
	<p class="lead" data-ng-bind="article.content"></p>




</section>
